@import '@carbon/colors/scss/colors';

%flex-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter {
  @extend %flex-container;
  background-color: $carbon--white-0;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
