%flex-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.grid {
  @extend %flex-container;
  justify-content: center;
}

.list {
  @extend %flex-container;
  flex-direction: column;
}

.evolutions {
  @extend %flex-container;
}







